.root {
  /* ensure footer always appears at the bottom */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* base styles; these could be kept in global styles */
  font-family: "Inter", system-ui, sans-serif;
}

.container {
  width: 100%;
  /* these values can be replaced with starter-specific css vars */
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header {
  border-bottom: solid 1px rgba(25, 25, 55, 0.25);
  display: flex;
}

.headeri {
  composes: container;
  padding-top: 16px;
  padding-bottom: 12px;
  display: flex;
}

.headeri .headerlinks {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 40px;
}

.headeri .headerlinks a {
  margin-right: 24px;
}

.headeri .images {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.headeri .community {
  padding-bottom: 6px;
  padding-right: 4px;
  font-size: small;
}

.headeri .images img {
  margin-left: 10px;
}

.header a {
  text-decoration: none;
  font-weight: bold;
  font-size: var(--font-size-4);
  color: inherit;
}
.header a:hover,
.header a:focus {
  color: var(--link-hover-color);
}

.main {
  flex: 1 0 auto;
}

.footer {
  margin-top: 40px;
  background: #e7f6f9;
}

.footeri {
  composes: container;
  display: flex;
  gap: var(--space-3);
  background: #e7f6f9;
  align-items: right;
}

.footer span,
.footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: var(--font-size-2);
  color: inherit;
  display: flex;
  margin-right: 10px;
}

.footer .linkwrapper {
  margin-left: auto;
  display: flex;
}

@media screen and (max-width: 500px) {
  .footeri {
    flex-direction: column-reverse;
  }
  .footer .linkwrapper {
    margin-left: 0px;
  }
}

.header a,
.footer a,
.header a,
.footer span {
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-3);
  line-height: 22px;
  color: var(--link-color);
}

.header a:hover,
.header a:focus,
.footer a:hover,
.footer a:focus {
  text-decoration: underline;
  color: var(--link-hover-color);
}

.hamburger {
  display: none;
  margin-top: 5px;
  margin-right: 15px;
  cursor: pointer;
  z-index: 100;
}

@media screen and (max-width: 930px) {
  .headeri .headerlinks {
    position: fixed;
    left: 0px;
    padding-left: 30px;
    top: 65px;
    height: 100%;
    flex-direction: column;
    align-items: start;
    background-color: white;
    z-index: 100;
    border-right: 1px solid var(--link-color);
    margin-left: 0px;
    display: none;
  }
  .headeri .open {
    display: flex;
  }

  .headeri .headerlinks a {
    margin-bottom: 10px;
  }
  .hamburger {
    display: block;
  }
}
