.content {
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
  background: #e7f6f9;
  margin-bottom: 2em;
  margin-top: -50px;
}

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
  }
}

.featureContainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-4);
  padding: var(--space-3);
  padding-bottom: var(--space-4);
  position: relative;
}

.copyColumn {
  display: flex;
  order: 2;
  padding: 8px;
  text-align: left;
}

.imageColumn {
  display: flex;
  align-items: center;
  padding-left: var(--space-2);
}

.copyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--space-3);
  padding-bottom: var(--space-4);
  max-width: 512px;
}

.secondaryText {
  font-size: var(--font-size-3);
}
.secondaryText p {
  margin-top: 0;
}

.primaryText {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  margin: 0;
  margin-bottom: var(--space-2);
}

.primaryText strong {
  color: var(--primary-color);
}

.secondaryImageContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: var(--space-2);
  left: 24px;
}

.secondaryImage {
  width: 48px;
  height: 48px;
  float: left;
  margin: var(--space-2);
  margin-left: 0px;
}
