.content {
  margin-top: -50px;
}

.testimonial {
  position: relative;
  background-color: #191937;
  margin: 10px 0px;
  margin-bottom: 20px;
  color: white;
  padding-bottom: 130px;
  padding-top: 10px;
}

.testimonial:hover {
  background-color: #f3ff36;
  color: #191937;
}
.testimonial:hover .authorName,
.testimonial:hover .authorCompany {
  color: #191937;
}

.quote {
  font-size: var(--font-size-3);
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
  border-radius: var(--border-radius);
  position: relative;
  margin-bottom: var(--space-3);
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}

.author {
  display: flex;
  gap: var(--space-2);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatar {
  border-radius: 99999px;
  overflow: hidden;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.authorName {
  font-size: var(--font-size-3);
  font-weight: normal;
  font-style: normal;
  left: 20px;
  bottom: 100px;
  position: absolute;
  font-family: "Space Mono", monospace;
  color: #f3ff36;
}

.authorCompany {
  font-size: var(--font-size-2);
  font-weight: light;
  font-style: normal;
  bottom: 80px;
  color: white;
  position: absolute;
  left: 20px;
  opacity: 0.8;
}
